<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChangeMgmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ChngeMgmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ChngeMgmt.Properties.Settings.DayXConnectionString"
      connectionString="Data Source=svru1sql03;Initial Catalog=DayX;Persist Security Info=True;User ID=sa;Password=Leoni2010!"
      providerName="System.Data.SqlClient" />
    <add name="ChangeMgmt.Properties.Settings.DayXConnectionString"
      connectionString="Data Source=svru1mssql01;Initial Catalog=DayX;Persist Security Info=True;User ID=sa;Password=*29acBgj"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <ChangeMgmt.Properties.Settings>
      <setting name="sDefaultOU" serializeAs="String">
        <value>OU=NCH,DC=prettl,DC=local</value>
      </setting>
      <setting name="AD_user_name" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="AD_user_password" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="PathForSaveFile" serializeAs="String">
        <value>\\svru1file01\groups\DD\000_DRW\000_Initialisation</value>
      </setting>
      <setting name="EmailChecker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DB_IP" serializeAs="String">
        <value>svru1mysql01</value>
      </setting>
      <setting name="DB_Login" serializeAs="String">
        <value>adm</value>
      </setting>
      <setting name="DB_Pass" serializeAs="String">
        <value>EwS@Y*WYe9Lv</value>
      </setting>
    </ChangeMgmt.Properties.Settings>
    <ChngeMgmt.Properties.Settings>
      <setting name="sDefaultOU" serializeAs="String">
        <value>OU=RU1,DC=leoni,DC=local</value>
      </setting>
      <setting name="AD_user_name" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="AD_user_password" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="PathForSaveFile" serializeAs="String">
        <value>\\svru1file02\_Multimedia\005_IM_IT\ChangeManagment</value>
      </setting>
      <setting name="EmailChecker" serializeAs="String">
        <value>False</value>
      </setting>
    </ChngeMgmt.Properties.Settings>
  </userSettings>
</configuration>