<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EmailNotification.Properties.Settings.DayXConnectionString"
            connectionString="Data Source=svru1mssql01;Initial Catalog=DayX;Persist Security Info=True;User ID=sa;Password=*29acBgj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EmailNotification.Properties.Settings>
            <setting name="PathForSaveFile" serializeAs="String">
                <value>\\svru1media01\001_Multimedia\005_IM_IT\ChangeManagment</value>
            </setting>
        </EmailNotification.Properties.Settings>
    </userSettings>
</configuration>